<!DOCTYPE html>
<html>
<head>
    <partial name="~/Views/Layout/_Head.cshtml"/>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        <partial name="~/Views/Layout/_Navbar.cshtml">
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">
                <img src="~/images/adminlte/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">To Do List App</span>
            </a>

            <!-- Sidebar -->
            <partial name="~/Views/Layout/_Sidebar.cshtml"/>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">@ViewData["SubTitle"]</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="@ViewData["Controller"]">@ViewData["Title"]</a></li>
                                <li class="breadcrumb-item active">@ViewData["SubTitle"]</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            @RenderBody()
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <partial name="~/Views/Layout/_Footer.cshtml"/>
    </div>
    <!-- ./wrapper -->
    @RenderSection("Scripts", required: false)
</body>
</html>
